.floating-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* UPDATE DISINI: Ubah z-index jadi tinggi biar muncul di atas warna background section */
    z-index: 50;

    pointer-events: none;
    /* Wajib! Biar klik tembus ke tombol di bawahnya */
    overflow: hidden;
}

.floating-icons {
    position: relative;
    width: 100%;
    height: 100%;
}

.float-icon {
    position: absolute;
    color: var(--pink-primary);
    opacity: 0;
}

/* --- KEYFRAMES ANIMASI --- */
@keyframes driftRight {
    0% {
        transform: translateX(-10vw) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 0.06;
    }

    /* Sedikit ditebalkan biar kelihatan */
    80% {
        opacity: 0.06;
    }

    100% {
        transform: translateX(100vw) rotate(20deg);
        opacity: 0;
    }
}

@keyframes driftLeft {
    0% {
        transform: translateX(100vw) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 0.05;
    }

    80% {
        opacity: 0.05;
    }

    100% {
        transform: translateX(-10vw) rotate(-20deg);
        opacity: 0;
    }
}

/* --- POSISI ICON --- */
/* (Pastikan nama class sesuai dengan icon yang dipakai di JSX, misal .icon-butterfly) */

.icon-swan {
    font-size: 10rem;
    top: 5%;
    left: -10%;
    animation: driftRight 40s linear infinite;
}

/* Kupu-kupu (Pengganti Cherry) */
.icon-butterfly {
    font-size: 5rem;
    top: 18%;
    left: -10%;
    animation: driftRight 35s linear infinite;
    animation-delay: 2s;
}

.icon-flower {
    font-size: 6rem;
    top: 35%;
    right: -10%;
    animation: driftLeft 45s linear infinite;
    animation-delay: 5s;
}

.icon-heart {
    font-size: 4rem;
    top: 50%;
    left: -10%;
    animation: driftRight 30s linear infinite;
    animation-delay: 10s;
}

.icon-star {
    font-size: 3rem;
    top: 65%;
    right: -10%;
    animation: driftLeft 38s linear infinite;
    animation-delay: 8s;
}

.icon-swan-2 {
    font-size: 8rem;
    top: 80%;
    left: -15%;
    animation: driftRight 42s linear infinite;
    animation-delay: 15s;
    opacity: 0.04;
}

.icon-flower-2 {
    font-size: 5rem;
    top: 92%;
    right: -10%;
    animation: driftLeft 32s linear infinite;
    animation-delay: 12s;
}